<h1>{{mapTitle}}</h1>
<div id="map"></div>
<div class="hide" ng-repeat="marker in markers">
    <a href="#" ng-click="markerClick($event, marker)">
        {{marker.title}}
    </a>
</div>
<div class="hide">
    <div id="assetDetails">
        <h4>{{assetDetails.title}} Current Production</h4>
        Oil: {{assetDetails.oilProd}}<br/>
        Gas: {{assetDetails.gasProd}}<br/>
        Water: {{assetDetails.waterProd}}<br/>
        <a ng-href="#/assets/{{assetDetails.id}}/history">History Graph</a>
        <div>&nbsp;</div><br/>
    </div>
</div>